<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>UNC Basketball Fan Quiz!</title>
        <link rel='stylesheet' href='styles.css' />
    </head>

    <body style= background-color:#8ab8fe;>
        <style>
            body {font-family: "Georgia", serif}
        </style> 
        <p>⠀</p>
        <h1 style="text-align:center;">How Big of A UNC Basketball Fan Are You?!?!</h1>
        <p>⠀</p>
        <p style="text-align:center;"><font size="+3">Take The Quiz Below to Find Out!</font></p>
        <p style="text-align:center;"><font size="+1">Created By: Evan, Jose, and Grayson</font></p>
        <p>⠀</p>
        <p style="text-align:center;"><font size="+2"><a href="/quiz">Take Quiz</a></font></p>
        <p>⠀</p>
        <p style="text-align:center;"><img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/North_Carolina_Tar_Heels_logo.svg/1280px-North_Carolina_Tar_Heels_logo.svg.png" alt = "hi" style="width:256px;height:256px;"></p>
        
    </body>
    
</html>