<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UNC Basketball Quiz!</title>
    </head>
    <body style= background-color:#8ab8fe;>
        <h1 style="text-align:center;">UNC Basketball Quiz!</h1>
        <p>⠀</p>
        <p style="text-align:center;"><img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/North_Carolina_Tar_Heels_logo.svg/1280px-North_Carolina_Tar_Heels_logo.svg.png" alt = "hi" style="width:256px;height:256px;"></p>

        <form method="post">
            <font size="+2"><label for="fname">First name:</label></font>
            <br />
            <font size="+2"><input type="text" name="fname"></font>
            <br />
            <font size="+2"><label for="lname">Last name:</label></font>
            <br />
            <font size="+2"><input type="text" name="lname"></font>
            <p>⠀</p>

            <br />
            <font size="+2"><label for="player">Which of the following is a current player on the UNC Basketball Team?:</label></font>
            <select name="player">
                <option value=""></option>
                <option value="Grayson Allen">Grayson Allen</option>
                <option value="Tyler Hansbrough">Tyler Hansbrough</option>
                <option value="Armando Bacot">Armando Bacot</option>
                <option value="Marcus Paige">Marcus Paige</option>
            </select>
            <br />
            <p>⠀</p>

            <br />
            <font size="+2"><label for="nattys">What is the number of national championships won by the UNC team?:</label></font>
            <select name="nattys">
                <option value=""></option>
                <option value="7">7</option>
                <option value="9">9</option>
                <option value="6">6</option>
                <option value="3">3</option>
            </select>
            <br />
            <p>⠀</p>

            <br />
            <font size="+2"><label for="recent">When was UNC's most recent national victory?</label></font>
            <select name="recent">
                <option value=""></option>
                <option value="2005">2005</option>
                <option value="2017">2017</option>
                <option value="2019">2019</option>
                <option value="2009">2009</option>
            </select>
            <br />
            <p>⠀</p>

            <br />
            <font size="+2"><label for="jersey">Which jersey number has not yet retired?</label></font>
            <select name="jersey">
                <option value=""></option>
                <option value="23">23</option>
                <option value="12">12</option>
                <option value="50">50</option>
                <option value="5">5</option>
            </select>
            <br />
            <p>⠀</p>

            <br />
            <font size="+2"><label for="year">During which year did Tyler Hansbrough win Player of the Year?</label></font>
            <select name="year">
                <option value=""></option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2012">2012</option>
                <option value="2010">2010</option>
            </select>
            <br />
            <p>⠀</p>

            <br />
            <font size="+2"><label for="head">Who is the current UNC Basketball Head Coach?</label></font>
            <select name="head">
                <option value=""></option>
                <option value="Roy Williams">Roy Williams</option>
                <option value="Hubert Davis">Hubert Davis</option>
                <option value="Armando Bacot">Armando Bacot</option>
                <option value="CJ Skender">CJ Skender</option>
            </select>
            <br />
            <p>⠀</p>

            <br />
            <font size="+2"><label for="famous">Which famous basketball player played for the UNC Basketball team during the '81-'82 season?</label></font>
            <select name="famous">
                <option value=""></option>
                <option value="LeBron James">LeBron James</option>
                <option value="The Toon Squad">The Toon Squad</option>
                <option value="Michael Jordan">Michael Jordan</option>
                <option value="Daniel Santana">Daniel Santana</option>
            </select>
            <br />
            <p>⠀</p>

            <br />
            <font size="+2"><label for="season">In what year did UNC have its first ever basketball season?</label></font>
            <select name="season">
                <option value=""></option>
                <option value="1915-16">1915-16</option>
                <option value="1962-63">1962-63</option>
                <option value="1938-39">1938-39</option>
                <option value="1910-11">1910-11</option>
            </select>
            <br />
            <p>⠀</p>

            <br />
            <font size="+2"><label for="coaches">How many head coaches has UNC had in the history of the program?</label></font>
            <select name="coaches">
                <option value=""></option>
                <option value="19">19</option>
                <option value="25">25</option>
                <option value="6">6</option>
                <option value="17">17</option>
            </select>
            <br />
            <p>⠀</p>

            <br />
            <font size="+2"><label for="retire">In what year did Roy Williams retire?</label></font>
            <select name="retire">
                <option value=""></option>
                <option value="2021">2021</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="Has not retired">Has not retired</option>
            </select>
            <br />
            <p>⠀</p>

            <font size="+2"><input type="submit" value="Submit"></font>
            <p>⠀</p>


            <p style="text-align:center;"><font size="+2"><a href="/">Return to Home Screen</a></font></p>

        </form>
    </body>
</html>